// @import '~nib/index.styl'

appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	appearance arguments

bg-image-url(name,ext = "png")
	background-image unquote("url(/static/images/"+name+"."+ext+")")
bg-image(name,ext = "png")
	bg-image-url(name,ext)
	background-repeat no-repeat
	background-size contain
	background-position center center
		
noselect()
	-webkit-touch-callout none /* iOS Safari */
	-webkit-user-select none /* Safari */
	-khtml-user-select none /* Konqueror HTML */
	-moz-user-select none /* Firefox */
	-ms-user-select none /* Internet Explorer/Edge */
	user-select none /* Non-prefixed version, currently supported by Chrome and Opera */